@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1cbaff;
  --secondary: #131313;
  --secondary-light: #262626;
  --black: #000;
  --white: #ffffff;
  --grey: #c4c4c4;
  --grey-dark: #7b7b7b;
  --danger: #e53935;
  --warning: #fdd835;

  --border-radius: 10px;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", "Dosis", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  font-family: "Dosis", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus {
  outline: none;
}
